
[OPTIONS]
email=wwinnett@iastate.edu
# Default places a folder scheme all lumped together at storage location
use_default_scheme=0
Reset indexes everytime=0


[STORAGE]
storage_location=./storage/

# Leave blank unless default is ticked
fa_location=
faa_location=
full_fa_location=
full_faa_location=
gb_location=
genome_location=

[INDEX]
index_location=./indexes/

[OUTPUT]
output_location=./output/


