
[OPTIONS]
email=  # This must be valid or fetching won't work
reset_indexes_everytime=0  # Set to true or 1 to reset when fetching, deleting
run_mafft_everytime=0  # Set to true or 1 to run mafft everytime

[STORAGE]  # Any information pertaining to the storage location
storage_location=./storage/

[INDEX]  # Any information pertaining to the indexes location
index_location=./indexes/

[OUTPUT]  # Any information pertaining to the output location
output_location=./output/


